@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a {
  color: black;
}

a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Amatic SC", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1430px;
  padding: 0 15px;
  z-index: 0;
}

.title {
  width: 100%;
}

.title h2 {
  text-align: left;
  font-size: 78px;
  font-weight: 700;
  text-align: center;
}

.title p {
  margin-top: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  text-transform: none;
  text-align: left;
}

@media (max-width: 950px) {
  .title h2 {
    font-size: 38px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 5px;
  }
}
header {
  width: 100%;
  padding: 10px 0;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__wrapper {
  display: flex;
  gap: 100px;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
}

.header-nav__list {
  display: flex;
  gap: 15px;
}

.nav__list-item a {
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  padding: 5px 25px;
  background: linear-gradient(180deg, rgba(140, 212, 68, 0.3450980392), rgba(0, 0, 0, 0.5411764706));
  position: relative;
  text-decoration: none;
  border-radius: 30px;
}

.header-button {
  background-color: linear-gradient(#8bd444 rgba(69, 117, 59, 0.29));
}

.btn-form {
  border-radius: 50px;
  display: inline-block;
  padding: 10px 35px;
  background: linear-gradient(180deg, #8bd444, rgba(0, 0, 0, 0.5411764706));
  position: relative;
  overflow-x: hidden;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

.btn-form .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear;
}

.burger-menu, .mobile__search-icon {
  display: none;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@media (max-width: 950px) {
  header {
    padding: 20px 0;
    position: fixed;
  }
  .burger-menu {
    display: block;
  }
  .header-nav {
    display: none;
  }
  .burger-menu_button {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 30;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5a892a;
    transition: 0.4s;
  }
  .burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
  }
  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 3px;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu_lines::before {
    content: "";
    top: -10px;
  }
  .burger-menu_lines::after {
    content: "";
    top: 10px;
  }
  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .burger-menu_nav {
    width: 70%;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    overflow-y: auto;
    top: 0;
    right: -100%;
    transition: 0.8s;
  }
  .burger-menu_active .burger-menu_nav {
    right: 0;
    transition: 0.4s;
  }
  .burger-menu_link {
    padding: 20px 40px;
    font-size: 28px;
    font-weight: 700;
    line-height: 126%;
    text-transform: uppercase;
    text-align: center;
  }
  .burger-menu_link:hover {
    filter: brightness(0.7);
  }
  .burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-button {
    margin-right: 70px;
  }
  .header-nav__wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
  }
  .header-nav__list {
    display: flex;
    gap: 3px;
  }
  .nav__list-item a {
    font-size: 14px;
    padding: 2px 8px;
  }
  .btn-form {
    padding: 2px 8px;
    font-size: 22px;
  }
  .btn-form .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear;
  }
}
.home {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../image/home/bacground-home-two.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  position: relative;
  overflow: hidden;
}

.home-title {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.home-title, .home-subtitle {
  position: relative;
  margin: auto 0;
  z-index: 0;
}

.home-title::before {
  content: "";
  background-image: url(../image/home/background-title.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
  top: -35%;
  left: -41%;
  transform: translateX(20%);
  background-position: center;
  width: 135%;
  height: 210%;
  opacity: 0.4;
}

.home-title::after {
  content: "";
  background-image: url(../image/home/background-title.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
  top: -60%;
  left: -35%;
  transform: translateX(20%);
  background-position: center;
  width: 125%;
  height: 220%;
}

.title {
  text-align: center;
  line-height: 110%;
  font-weight: 700;
  font-size: 82px;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  letter-spacing: 5px;
}

.subtitle {
  text-align: center;
  line-height: 100%;
  font-size: 48px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

@media (max-width: 950px) {
  .title {
    font-weight: 700;
    font-size: 105px;
  }
  .subtitle {
    font-size: 32px;
  }
  .name-sad {
    font-size: 26px;
  }
}
@media (max-width: 950px) {
  .title {
    font-size: 82px;
  }
  .name-sad {
    font-size: 26px;
  }
}
@media (max-width: 420px) {
  .title {
    font-weight: 700;
    font-size: 60px;
  }
  .subtitle {
    font-size: 22px;
  }
  .name-sad {
    font-size: 26px;
  }
}
.about {
  background-color: #fff;
  margin-top: -25px;
  padding: 75px 0 75px 0;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0;
  z-index: 0;
  position: relative;
  border-radius: 20px;
}

.about-content__text {
  padding: 0 10px;
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 0;
  color: #000000;
}

.about-content__text p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
}

.about-img {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 950px) {
  .about {
    padding: 25px 0 50px 0;
  }
  .about-wrapper {
    gap: 25px;
  }
  .about-content {
    flex-direction: column;
    gap: 25px;
  }
  .about-content__text {
    width: 100%;
  }
  .about-content__text p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000000;
  }
  .about-img {
    width: 100%;
  }
}
.why-us {
  width: 100%;
  padding-top: 50px 0;
}

.why-us__content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.why-us__card {
  display: flex;
  gap: 20px;
}

.why-us__img {
  width: 20%;
  height: 200px;
}

.why-us__img img {
  border-radius: 50%;
}

.why-us__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.why-us__text h4 {
  font-size: 42px;
  font-weight: 700;
}

.why-us__text p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
}

.our-offer {
  padding: 50px 0;
}

.our-offer__wrapper {
  width: 100%;
}

.our-offer__content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.our-offer__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-offer__img img {
  width: 100%;
  height: auto;
  border-radius: 50px;
  box-shadow: 2px -2px 2px 2px #8bd444;
}

.our-offer__text {
  text-align: center;
}

.our-offer__text h3 {
  font-size: 32px;
}

.individual-sessions {
  width: 100%;
  padding: 50px 0;
  border-radius: 50px;
  background-color: #8bd444;
}

.individual-sessions__wrapper {
  width: 100%;
}

.individual-sessions__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 50px;
}

.individual-sessions__card {
  background-color: #fff;
  border-radius: 50px;
  padding: 40px 20px 20px 20px;
  box-shadow: 2px -2px 2px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}

.sessions__card-title h4 {
  font-size: 42px;
  font-weight: 700;
}

.sessions__card-text p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.sessions__card-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -15%;
  right: 50%;
  transform: translateX(50%);
}

.sessions__card-icon img {
  max-width: 100%;
}

.galery {
  padding: 50px 0;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 75px;
}

.galey-slider {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.swiper {
  width: 100%;
}
.swiper .swiper-button-prev {
  color: #8bd444;
}
.swiper .swiper-button-next {
  color: #8bd444;
}
.swiper .swiper-pagination-bullet-active {
  background: #8bd444;
}

.swiper-two {
  height: auto;
}
.swiper-two .swiper-slide {
  width: 50%;
}
.swiper-two .swiper-slide img {
  height: 456px;
}

.swiper-slide {
  padding: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 7px rgb(255, 255, 255);
}

@media (max-width: 950px) {
  .galery {
    padding: 25px 0;
    margin-bottom: 50px;
  }
}
.form-contact .form-contact__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.form-contact .title h2 {
  font-size: 48px;
  text-align: center;
}
.form-contact .button-form {
  background-color: linear-gradient(#8bd444 #45753b);
}
.form-contact .button-form .btn-form {
  padding: 15px 45px;
  background: linear-gradient(180deg, #8bd444, #45753b);
}
.form-contact .button-form .btn-form .flare {
  transform: skewX(-50deg);
  animation: flareAnimation 4s infinite linear;
}

@media (max-width: 950px) {
  .form-contact .title h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
  }
  .form-contact .button-form .btn-form {
    padding: 7px 22px;
    font-size: 32px;
  }
}
@media (max-width: 520px) {
  .form-contact .title h2 {
    font-size: 28px;
    text-align: center;
  }
}
.reviews {
  margin: 50px 0;
  padding: 50px 0;
  border-radius: 50px;
}
.reviews .title {
  margin-bottom: 50px;
}
.reviews .swiper-reviews, .reviews .swiper {
  height: auto;
}
.reviews .swiper-reviews .swiper-wrapper, .reviews .swiper .swiper-wrapper {
  width: 100%;
}
.reviews .swiper-reviews .swiper-button-next, .reviews .swiper-reviews .swiper-button-prev, .reviews .swiper .swiper-button-next, .reviews .swiper .swiper-button-prev {
  color: #8bd444;
  top: 45%;
}
.reviews .swiper-reviews .swiper-button-prev, .reviews .swiper .swiper-button-prev {
  left: 15px;
}
.reviews .swiper-reviews .swiper-button-next, .reviews .swiper .swiper-button-next {
  right: 15px;
}
.reviews .swiper-reviews .swiper-slide, .reviews .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: rgba(139, 212, 68, 0.6);
  border-radius: 20px;
  box-shadow: 1px -1px 5px 1px #000000;
}
.reviews .swiper-reviews .swiper-slide__wrapper, .reviews .swiper .swiper-slide__wrapper {
  padding: 25px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.reviews .swiper-reviews .swiper-slide__wrapper::-webkit-scrollbar, .reviews .swiper .swiper-slide__wrapper::-webkit-scrollbar {
  width: 0;
}
.reviews .swiper-reviews .reviews-text, .reviews .swiper .reviews-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  display: flex;
  overflow-y: auto;
  height: 350px;
}
.reviews .swiper-reviews .reviews-text::-webkit-scrollbar, .reviews .swiper .reviews-text::-webkit-scrollbar {
  width: 0;
}
.reviews .swiper-reviews .reviews-name, .reviews .swiper .reviews-name {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.reviews .swiper-reviews .reviews-star, .reviews .swiper .reviews-star {
  font-size: 12px;
}
.reviews .swiper-reviews .reviews-info, .reviews .swiper .reviews-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 950px) {
  .reviews {
    margin: 25px 0;
    padding: 25px 0;
  }
  .reviews .title {
    margin-bottom: 25px;
  }
}
.contacts {
  padding: 50px 0;
}
.contacts .star-advantages {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 21px;
  text-align: right;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
.contacts .star-advantages .star-advantages__phone {
  margin: 0 auto;
}

.contacts-content {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.contacts-content__card {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  gap: 25px;
  background-color: rgba(139, 212, 68, 0.6);
}
.contacts-content__card iframe {
  width: 100%;
  height: 350px;
  border-radius: 50px;
}
.contacts-content__card h3 {
  font-size: 42px;
  font-weight: 700;
}
.contacts-content__card ul {
  display: flex;
  gap: 10px;
}
.contacts-content__card ul li {
  font-size: 26px;
  font-weight: 700;
}

@media (max-width: 950px) {
  .contacts-content {
    padding: 25px 0;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .contacts-content__card {
    padding: 25px;
    gap: 25px;
  }
  .contacts-content__card h3 {
    font-size: 32px;
    text-align: center;
  }
  .contacts-content__card ul li {
    font-size: 18px;
    text-align: center;
  }
}
.sale {
  width: 100%;
}

.sale-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.sale-content {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.sale-card {
  position: relative;
}
.sale-card p {
  position: absolute;
  width: 250px;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 950px) {
  .sale {
    padding: 0;
    padding-bottom: 50px;
  }
  .sale-wrapper {
    padding: 0;
  }
  .sale-content {
    justify-content: space-between;
    padding: 0;
  }
  .sale-card p {
    width: 50%;
    font-size: 36px;
  }
}
@media (max-width: 550px) {
  .sale-card p {
    width: 70%;
    font-size: 21px;
  }
}
.advantages-galery__wrapper {
  position: relative;
}
.advantages-galery__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/home/bacground-home-two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.advantages {
  margin-top: 75px;
  padding-top: 75px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.advantages-wrapper {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
.advantages-wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.advantages-wrapper li {
  background-color: #fff;
  padding: 15px 55px;
  border-radius: 50px;
  border-radius: 50px;
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 11px 6px 0px rgba(0, 0, 0, 0.2);
}
.advantages-wrapper p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.advantages-wrapper ul li:nth-child(1) {
  transform: rotate(3deg);
}

.advantages-wrapper ul li:nth-child(2) {
  transform: rotate(-3deg);
}

.advantages-wrapper ul li:nth-child(3) {
  transform: rotate(2deg);
}

.advantages-wrapper ul li:nth-child(4) {
  transform: rotate(-1deg);
}

.advantages-wrapper ul li:nth-child(5) {
  transform: rotate(1deg);
}

.advantages-wrapper ul li:nth-child(6) {
  transform: rotate(-3deg);
}

.advantages-wrapper ul li:nth-child(7) {
  transform: rotate(3deg);
}

.advantages-wrapper ul li:nth-child(8) {
  transform: rotate(-3deg);
}

@media (max-width: 950px) {
  .advantages {
    margin-top: 50px;
    padding-top: 50px;
  }
  .advantages-wrapper {
    padding: 25px 0;
  }
  .advantages-wrapper ul {
    gap: 15px;
  }
  .advantages-wrapper li {
    padding: 5px 35px;
  }
}
.our-advantages {
  width: 100%;
  margin-top: 50px;
}

.our-advantages-wrapper {
  width: 100%;
  padding: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 110%;
  font-size: 36px;
}
.our-advantages-wrapper ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
.our-advantages-wrapper li {
  display: flex;
  align-items: center;
}
.our-advantages-wrapper li p {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  margin-left: 20px;
}
.our-advantages-wrapper li p span {
  position: absolute;
  font-size: 12px;
  top: -10px;
  right: -10px;
}
.our-advantages-wrapper li:nth-child(even) {
  flex-direction: row-reverse;
}
.our-advantages-wrapper li:nth-child(even) p {
  margin-left: auto;
  margin-right: 20px;
  text-align: right;
}
.our-advantages-wrapper .our-advantages__img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.our-advantages-wrapper .our-advantages__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-advantages-wrapper .our-advantages__text {
  width: 70%;
  text-align: center;
}
.our-advantages-wrapper .our-advantages__text br {
  display: none;
}
.our-advantages-wrapper .star-advantages {
  font-size: 18px;
  margin-top: 35px;
  text-align: center;
}
.our-advantages-wrapper .star-advantages span {
  font-size: 10px;
}

.star-advantages {
  margin-top: 35px;
}

@media (max-width: 950px) {
  .our-advantages-wrapper {
    padding: 0;
    padding-top: 25px;
    font-size: 20px;
  }
  .our-advantages-wrapper li {
    padding: 2px;
  }
  .our-advantages-wrapper li p span {
    top: -5px;
    right: -17px;
  }
  .our-advantages-wrapper .our-advantages__img {
    width: 30%;
  }
  .our-advantages-wrapper .our-advantages__text {
    width: 70%;
    text-align: center;
  }
  .our-advantages-wrapper .our-advantages__text br {
    display: block;
  }
  .our-advantages-wrapper .star-advantages {
    font-size: 12px;
    margin-top: 35px;
    text-align: center;
  }
  .our-advantages-wrapper .star-advantages span {
    font-size: 10px;
  }
}
@media (max-width: 429px) {
  .our-advantages-wrapper {
    width: 100%;
  }
  .our-advantages-wrapper ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .our-advantages-wrapper li {
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 2px;
  }
  .our-advantages-wrapper p {
    text-align: center;
  }
  .our-advantages-wrapper .star-advantages {
    margin-top: 35px;
  }
}
.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 15;
  z-index: 999;
  transform: translate(100%, -100%) scale(0);
  transition: 0.5s ease-in-out;
}

.scroll-lock {
  overflow: hidden;
}

.pop-up__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop-up__body {
  position: relative;
  width: 500px;
  height: 641px;
  margin: auto;
  padding: 35px 34px 21px 34px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.pop-up__body-text {
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pop-up__body-text h2 {
  font-size: 28px;
  font-weight: 700;
}
.pop-up__body-text p {
  font-size: 20px;
  font-weight: 700;
}

.pop-up__close {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 35px;
  top: 22px;
  background-image: url(../image/icon/btn-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
  cursor: pointer;
}

.active-pop-up {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.6);
}

.form-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-form {
  background-color: #F5F5F5;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 15px 15px;
  border-radius: 10px;
}

.form-contact label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.form-contact label p {
  margin-bottom: 5px;
}
.form-contact label span {
  color: rgb(139, 212, 68);
}

input.input-form::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

input.input-form::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

textarea.input-form::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

textarea.input-form::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.personality {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.personality a {
  color: rgb(139, 212, 68);
}

.personality label {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
}

.personality input {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5px;
  border: 2px solid #D7D7D7;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.custom-checkbox:checked + label::before {
  background-color: #D7D7D7;
  background-image: url(../image/icon/check-mark.svg);
}

/* стили при наведении курсора на checkbox */
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #D7D7D7;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #D7D7D7;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.form-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 50px;
  background-color: rgb(139, 212, 68);
  color: #000000;
  border-radius: 22px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s;
}
.form-btn:hover {
  background-color: rgb(103, 161, 44);
  transition: 0.3s;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.popup.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.popup__content {
  padding-left: 80px;
  padding-right: 80px;
}

.form-end {
  font-size: 56px;
  text-align: center;
}

@media (max-width: 576px) {
  .popup__content {
    padding-left: 30px;
    padding-right: 20px;
  }
}
.popup__wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
}

.popup__content {
  background-image: linear-gradient(90deg, #CD00FA 20%, #651DDB 80%);
  border-radius: 50px;
  padding: 70px 20px;
  max-width: 730px;
  margin: 0 auto;
  position: relative;
}

.popup__content--fluid {
  padding-left: 0;
  padding-right: 0;
}

.popup__content--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-close {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform 0.2s, opacity 0.2s;
}

.btn-close:hover {
  transform: scale(1.1);
}

.btn-close:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.btn-close::before,
.btn-close::after {
  content: "";
  background: #d2d2d2;
  height: 40px;
  width: 3px;
  position: absolute;
  border: 10px;
  top: 50%;
}

.btn-close::before {
  transform: translateY(-50%) rotate(45deg);
}

.btn-close::after {
  transform: translateY(-50%) rotate(-45deg);
}

.popup__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.page-title {
  font-size: 48px;
  text-align: center;
  margin: 0 auto 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
}

.page-title--accent {
  color: #ffa650;
}

.popup__title {
  margin-bottom: 20px;
}

.popup__subtitle--order {
  max-width: 360px;
  margin: 0 auto 40px;
}

@media (max-width: 800px) {
  .pop-up__body {
    height: 641px;
    padding: 15px 34px 21px 34px;
    gap: 9px;
  }
  .pop-up__close {
    top: 10px;
  }
}
@media (max-width: 430px) {
  .pop-up__body {
    padding: 15px;
    gap: 4px;
  }
  .input-form {
    font-size: 18px;
    padding: 5px 5px;
  }
}/*# sourceMappingURL=style.css.map */