.about {
    background-color: #fff;
    margin-top: -25px;
    padding: 25px 0 50px 0;
    // #45753b
    // #8bd444
    // #c2dfaf
}
.about-title {
    width: 100%;
}
.about-title h2{
    font-size: 70px;
    font-weight: 700;
}