.advantages-galery__wrapper{
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url(../image/home/bacground-home-two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: .9;
  }
}
.advantages {
    margin-top: 50px;
    padding-top: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.advantages-wrapper {
    padding: 25px 0;
    position: relative;
    z-index: 1;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    li {
        background-color: #fff;
        padding: 5px 35px;
        border-radius: 50px;

        border-radius: 50px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 11px 6px 0px rgba(0, 0, 0, 0.2);
    
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }
}
.advantages-wrapper ul li:nth-child(1) {
    transform: rotate(3deg);
  }
  
  .advantages-wrapper ul li:nth-child(2) {
    transform: rotate(-3deg);
  }
  
  .advantages-wrapper ul li:nth-child(3) {
    transform: rotate(2deg);
  }
  
  .advantages-wrapper ul li:nth-child(4) {
    transform: rotate(-1deg);
  }
  
  .advantages-wrapper ul li:nth-child(5) {
    transform: rotate(1deg);
  }
  
  .advantages-wrapper ul li:nth-child(6) {
    transform: rotate(-3deg);
  }
  
  .advantages-wrapper ul li:nth-child(7) {
    transform: rotate(3deg);
  }
  
  .advantages-wrapper ul li:nth-child(8) {
    transform: rotate(-3deg);
  }