.galery {
    padding: 25px 0;
    width: 100%;

    background-color: rgba(139, 212, 68, 0.6);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.galey-slider {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.swiper {
    width: 100%;
    .swiper-button-prev {
        color: #8bd444;
    }
    .swiper-button-next {
        color: #8bd444;
    }
    .swiper-pagination-bullet-active {
        background: #8bd444;
      }
}
.swiper-two {
    height: auto;
    .swiper-slide {
        width: 50%;
        img {
            height: 456px;
        }
    }
}
.swiper-slide {
    padding: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    img {
        object-fit: cover;
        width: 100%;
        height: 300px;
        border-radius: 20px;
        box-shadow: 1px -1px 5px 1px #8bd444;
    }
}

