header {
    width: 100%;
    // background-color: rgba($color: #45753b, $alpha: .6);
    padding: 10px 0;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
}
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
}
.header-nav__list {
    display: flex;
    gap: 15px;
}
.nav__list-item a{
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
    color: #fff;

    padding: 5px 25px;
    background: linear-gradient(180deg, #8cd44458,#0000008a );
    position: relative;
	text-decoration: none;
    border-radius: 30px;
}
// .nav__list-item a:after {
// 	display: block;
// 	position: absolute;
// 	left: 0;
// 	width: 0;
// 	height: 2px;
// 	background-color: #c2dfaf;
// 	content: "";
// 	transition: width 0.3s ease-out;
// }

// .nav__list-item a:hover:after,
// .nav__list-item a:focus:after {
// 	width: 100%;
// }
.header-button {
    background-color: linear-gradient(#8bd444 rgba(69, 117, 59, 0.29));

}
.btn-form {
    border-radius: 50px;
    display: inline-block;
    padding: 10px 35px;
    background: linear-gradient(180deg, #8bd444,#0000008a );
    position: relative; // Это важно добавить 
    overflow-x: hidden; // Это важно добавить 
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}
.btn-form .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg); // Наклон
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять
}

.burger-menu, .mobile__search-icon {
    display: none;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

@media(max-width:950px) {
    header {
        padding: 20px 0;
        position: fixed;
    }
    .burger-menu {
        display: block;
      }
      .header-nav {
        display: none;
      }
      .burger-menu_button {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 30;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #5a892a;
        transition: 0.4s;
      }
      .burger-menu_button:hover .burger-menu_lines {
        filter: brightness(0.7);
      }
      .burger-menu_lines::before,
      .burger-menu_lines::after,
      .burger-menu_lines {
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #fff;
        transition: 0.4s;
        border-radius: 3px;
      }
      .burger-menu_lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .burger-menu_lines::before {
        content: "";
        top: -10px;
      }
      .burger-menu_lines::after {
        content: "";
        top: 10px;
      }
      .burger-menu_active .burger-menu_lines {
        background-color: transparent;
      }
      .burger-menu_active .burger-menu_lines::before {
        top: 0;
        transform: rotate(45deg);
      }
      .burger-menu_active .burger-menu_lines::after {
        top: 0;
        transform: rotate(-45deg);
      }
      .burger-menu_nav {
        width: 70%;
        position: fixed;
        z-index: 20;
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.76);
        overflow-y: auto;
        top: 0;
        right: -100%;
        transition: 0.8s;
      }
      .burger-menu_active .burger-menu_nav {
        right: 0;
        transition: 0.4s;
      }
      .burger-menu_link {
        padding: 20px 40px;
        font-size: 28px;
        font-weight: 700;
        line-height: 126%;
        text-transform: uppercase;
        text-align: center;
      }
      .burger-menu_link:hover {
        filter: brightness(0.7);
      }
      .burger-menu_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
      }
      .burger-menu_active .burger-menu_overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
      }

    .header-button {
        margin-right: 70px;
    }

    .header-nav__wrapper {
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .header-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .logo {
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 100%;
    }
    .header-nav__list {
        display: flex;
        gap: 3px;
    }
    .nav__list-item a{
        font-size: 14px;   
        padding: 2px 8px;
    }
    .btn-form {
        padding: 2px 8px;
        font-size: 22px;
    }
    .btn-form .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 45px;
        transform: skewX(-45deg); // Наклон
        animation: flareAnimation;
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять
    }
}
