header {
    width: 100%;
    // background-color: rgba($color: #45753b, $alpha: .6);
    padding: 10px 0;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
}
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
}
.header-nav__list {
    display: flex;
    gap: 15px;
}
.nav__list-item a{
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
    color: #fff;

    padding: 5px 25px;
    background: linear-gradient(180deg, #8cd44458,#0000008a );
    position: relative;
	text-decoration: none;
    border-radius: 30px;
}
// .nav__list-item a:after {
// 	display: block;
// 	position: absolute;
// 	left: 0;
// 	width: 0;
// 	height: 2px;
// 	background-color: #c2dfaf;
// 	content: "";
// 	transition: width 0.3s ease-out;
// }

// .nav__list-item a:hover:after,
// .nav__list-item a:focus:after {
// 	width: 100%;
// }
.header-button {
    background-color: linear-gradient(#8bd444 rgba(69, 117, 59, 0.29));

}
.btn-form {
    border-radius: 50px;
    display: inline-block;
    padding: 10px 35px;
    background: linear-gradient(180deg, #8bd444,#0000008a );
    position: relative; // Это важно добавить 
    overflow-x: hidden; // Это важно добавить 
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}
.btn-form .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg); // Наклон
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}
