.home {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url(../image/home/bacground-home-two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    position: relative;
    overflow: hidden;
}
.home-title {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.home-title, .home-subtitle{
    position: relative;
    margin: auto 0;
    z-index: 0;
}
.home-title::before{
    content: '';
    background-image: url(../image/home/background-title.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
    top: -35%;
    left: -41%;
    transform: translateX(20%);
    background-position: center;
    width: 135%;
    height:210%;
    opacity: .4;
}
.home-title::after{
    content: '';
    background-image: url(../image/home/background-title.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
    top: -60%;
    left: -35%;
    transform: translateX(20%);
    background-position: center;
    width: 125%;
    height:220%;
}
// .home-subtitle::before{
//     content: '';
//     background-image: url(../image/home/background-title.png);
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     position: absolute;
//     opacity: .5;
//     top: -150%;
//     left: 0;
//     background-position: center;
//     width: 100%;
//     height: 300%;
// }
.title {
    text-align: center;
    line-height: 110%;
    font-weight: 700;
    font-size: 82px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    letter-spacing: 5px;
}
.subtitle {
    text-align: center;
    line-height: 100%;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

@media(max-width:950px) {
    .title {
        font-weight: 700;
        font-size: 105px;
    }
    .subtitle {
        font-size: 32px;
    }
    .name-sad {
        font-size: 26px;
    }
}
@media(max-width:950px) {
    .title {
        font-size: 82px;
    }
    .name-sad {
        font-size: 26px;
    }
}
@media(max-width:420px) {
    .title {
        font-weight: 700;
        font-size: 60px;
    }
    .subtitle {
        font-size: 22px;
    }
    .name-sad {
        font-size: 26px;
    }
}



