.our-advantages {
    width: 100%;
    margin-top: 50px;
}
.our-advantages-wrapper {
    width: 100%;
    padding-top: 25px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 110%;
    font-size: 20px;

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }
    li {
        display: flex;
        border-radius: 20px;
        align-items: center;
        padding: 2px;
        p {
            position: relative;
            width: fit-content;
            text-align: left;
            margin-left: 20px;
            span {
                position: absolute;
                font-size: 12px;
                top: -5px;
                right: -17px;
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;

            p {
                margin-left: auto;
                margin-right: 20px;
                text-align: right;
            }
        }
    }
    .our-advantages__img {
        width: 30%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .our-advantages__text {
        width: 70%;
        text-align: center;
    }

    .star-advantages {      
        span {
            font-size: 12px;
            
        }
        margin-top: 35px;
        text-align: center;
    }
}
.star-advantages {
    margin-top: 35px;
}

@media (max-width: 429px) {
    .our-advantages-wrapper {
        width: 100%;
    
        ul {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
        li {
            display: flex;
            border-radius: 20px;
            align-items: center;
            padding: 2px;
        }
        p {
            text-align: center;
        }
        .star-advantages {
            margin-top: 35px;
        }
    }
}