.our-advantages {
    width: 100%;
}
.our-advantages-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .our-advantages__card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #000;
        border-radius: 75px;


        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        p {
            width: 70%;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 22px;
            text-align: center;
        }
    }
    .image-our-advantages {
        background-color: #000;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;

        }
    }
}
.star-advantages {
    margin-top: 25px;
    text-align: center;
    font-size: 22px;
}

@media (max-width: 429px) {
    .our-advantages-wrapper {
        width: 100%;
    
        ul {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px 2px;
        }
        li {
            display: flex;
            border: 1px solid #000;
            border-radius: 20px;
            align-items: center;
            padding: 2px;
        }
        img {
            width: 30px;
            height: 30px;
    
            border-radius: 50%;
        }
        p {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 15px;
            text-align: center;
        }
    }
}