.reviews {
    margin: 50px 0;
    padding: 50px 0;
    border-radius: 50px;

    .swiper-reviews, .swiper {
        height: auto;
        .swiper-wrapper {
            width: 100%;
        }
        .swiper-button-next , .swiper-button-prev {
            color: #8bd444;
            top: 45%;
        }
        .swiper-button-prev {
            left: 15px;
        }
        .swiper-button-next {
            right: 15px;
        }
        .swiper-slide{
            display: flex;
            justify-content: center;
            height: auto;
            background-color: rgba($color: #000000, $alpha: 0.1);
            border-radius: 20px;
            box-shadow: 1px -1px 5px 1px #8bd444;
    
        }
        .swiper-slide__wrapper {
            padding: 25px;
            border-radius: 50px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
        }
        .swiper-slide__wrapper::-webkit-scrollbar {
            width: 0;
        }
        .reviews-text {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-weight: 300;
            line-height: 110%;
            font-size: 23px;
            display: flex;
    
            overflow-y: auto;
            height: 350px;
            &::-webkit-scrollbar {
                width: 0;
              }
        }
        .reviews-name {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-weight: 400;
            font-size: 22px;
        }
        .reviews-star {
            font-size: 12px;
        }
        .reviews-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
    }
}
@media(max-width:950px) {
    .reviews {
        margin: 25px 0;
        padding: 25px 0;
    }
}

