.reviews {
    margin: 50px 0;
    padding: 50px 0;border-radius: 50px;
    background-color: #8bd444;
    .swiper {
        background-color: #8bd444;

    }
}
.swiper-reviews {
    .swiper-wrapper {
        width: 100%;

    }
    .swiper-button-next , .swiper-button-prev {
        color: #fff;
    }
    .swiper-slide{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .swiper-slide__wrapper {
        padding: 25px;
        width: 50%;
        border-radius: 50px;
        overflow: scroll;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .swiper-slide__wrapper::-webkit-scrollbar {
        width: 0;
    }
    .reviews-text {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 300;
        line-height: 110%;
        font-size: 23px;
        display: flex;

    }
    .reviews-name {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 400;
        font-size: 28px;

        padding-left: 20px;
    }
    .reviews-star {
        font-size: 16px;
    }
    .reviews-info {
        display: grid;
        grid-template-columns: 100px 1fr;
    }
    .reviews-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        img{
            max-width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
}