.why-us {
    width: 100%;
    padding-top: 50px 0;
}
.why-us__content {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.why-us__card {
    display: flex;
    gap: 20px;
}
.why-us__img {
    width: 20%;
    height: 200px;
}
.why-us__img img{

    border-radius: 50%;
}
.why-us__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.why-us__text h4 {
    font-size: 42px;
    font-weight: 700;
}
.why-us__text p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
}